html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.sidebar {
  width: 500px;
}

h4{
  padding-top: 20px;
  padding-bottom: 20px;
}

button{
  padding-left: 30px;
}

finalDiv{
  display: none;
}
a:link{
  color:#4299e1;
}

a:hover{
  color: #ed8936;
}

